li {
  float: right;
  list-style-type: none;
  color: rgb(0, 26, 255);
  margin: 20px;
  padding-right: 20px;
}
h1 {
  text-align: center;
  font-size: xx-large;
}

a {
  text-decoration: none;
  font-size: large;
}
a:hover {
  color: brown;
}

body {
  background-image: url("Images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.welcome {
  text-decoration-color: black;
  margin-top: 15%;
  border-style: solid;
  border-radius: 200px;
  border-color: aquamarine;
  width: 500px;
  text-align: center;
  align-self: center;
}
.about {
  margin-top: 15%;
  width: 70%;
  text-align: center;
  align-content: center;
  padding: auto;
  margin-left: 10%;
  font-size: large;
}
.message {
  margin: 200px;
  margin-left: 300px;
  padding: 40px;
  width: 50%;
  border-style: groove;
  border-width: 20px;
  box-sizing: border-box;
}
.form {
  width: fit-content;
}
label {
  font-size: large;
}
